# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\iFiles\workspaces\code\Java20\java20-homework\X-FinalProject\钱正轩-171860687\HuLuBattle\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
