[submodule "X-FinalProject/张浩南-181860134"]
	path = X-FinalProject/张浩南-181860134
	url = https://github.com/iamxym/java-HWX
[submodule "X-FinalProject/吴雨昕-161290019-闫煜婷-171098043"]
	path = X-FinalProject/吴雨昕-161290019-闫煜婷-171098043
	url = https://github.com/njuwuyuxin/HuluwaGame
[submodule "X-FinalProject/刘晗桐-171180526"]
	path = X-FinalProject/刘晗桐-171180526
	url = https://gitee.com/hantongliu/JavaFinalProject.git
[submodule "X-FinalProject/祝嘉龙-181180220"]
 	path = X-FinalProject/祝嘉龙-181180220
 	url = https://github.com/Hoyyyywolf/CalabashVsSnake