[submodule "X-FinalProject/贡辰-181860025王逸-181860101"]
	path = X-FinalProject/贡辰-181860025王逸-181860101
	url = https://github.com/Uradouby/Xhulu
[submodule "X-FinalProject/林群-191250085"]
	path = X-FinalProject/林群-191250085
	url = https://github.com//Caserta-012/Finalwork
[submodule "X-FinalProject/刘晗桐-171180526"]
	path = X-FinalProject/刘晗桐-171180526
	url = https://gitee.com/hantongliu/JavaFinalProject.git
[submodule "X-FinalProject/李思勉-171860524"]
	path = X-FinalProject/李思勉-171860524
	url = https://github.com/LDawns/Under-HuLuWa
[submodule "X-FinalProject/穆朋朋-171830583"]
	path = X-FinalProject/穆朋朋-171830583
	url = https://github.com/stnjumu/JavaFinalProject
[submodule "X-FinalProject/张浩南-181860134"]
	path = X-FinalProject/张浩南-181860134
	url = https://github.com/iamxym/java-HWX
[submodule "X-FinalProject/吴雨昕-161290019-闫煜婷-171098043"]
	path = X-FinalProject/吴雨昕-161290019-闫煜婷-171098043
	url = https://github.com/njuwuyuxin/HuluwaGame
[submodule "X-FinalProject/祝嘉龙-181180220"]
 	path = X-FinalProject/祝嘉龙-181180220
 	url = https://github.com/Hoyyyywolf/CalabashVsSnake
[submodule "X-FinalProject/程珂-171860640"]
	path = X-FinalProject/程珂-171860640
	url = https://gitee.com/ChengKer/nju-java-2020-fall
[submodule "X-FinalProject/华顺鹏-171860626"]
	path = X-FinalProject/华顺鹏-171860626
	url = https://github.com/4happiness/JavaFinalProject.git

