[submodule "X-FinalProject/潘昱光-191250109_侯为栋-191250045"]
	path = X-FinalProject/潘昱光-191250109_侯为栋-191250045
	url = https://github.com/cn-zheshi/Calabash-VS-Monster
[submodule "X-FinalProject/王一-171860523"]
	path = X-FinalProject/王一-171860523
	url = https://github.com/WrongMalik/java-final-project.git
[submodule "X-FinalProject/朱俊俊-181860153"]
	path = X-FinalProject/朱俊俊-181860153
	url = https://github.com/181860153/huluwa
[submodule "X-FinalProject/高明晨-181840064"]
	path = X-FinalProject/高明晨-181840064
	url = https://github.com/waterflowing/Java2020-Final-Project
[submodule "X-FinalProject/韩进-181860026-努吉别克-181860067"]
	path = X-FinalProject/韩进-181860026-努吉别克-181860067
	url = https://github.com/javafinalwork/gourd_war
[submodule "X-FinalProject/贡辰-181860025王逸-181860101"]
	path = X-FinalProject/贡辰-181860025王逸-181860101
	url = https://github.com/Uradouby/Xhulu
[submodule "X-FinalProject/林群-191250085"]
	path = X-FinalProject/林群-191250085
	url = https://github.com//Caserta-012/Finalwork
[submodule "X-FinalProject/刘晗桐-171180526"]
	path = X-FinalProject/刘晗桐-171180526
	url = https://gitee.com/hantongliu/JavaFinalProject.git
[submodule "X-FinalProject/李思勉-171860524"]
	path = X-FinalProject/李思勉-171860524
	url = https://github.com/LDawns/Under-HuLuWa
[submodule "X-FinalProject/穆朋朋-171830583"]
	path = X-FinalProject/穆朋朋-171830583
	url = https://github.com/stnjumu/JavaFinalProject
[submodule "X-FinalProject/张浩南-181860134"]
	path = X-FinalProject/张浩南-181860134
	url = https://github.com/iamxym/java-HWX
[submodule "X-FinalProject/吴雨昕-161290019-闫煜婷-171098043"]
	path = X-FinalProject/吴雨昕-161290019-闫煜婷-171098043
	url = https://github.com/njuwuyuxin/HuluwaGame
[submodule "X-FinalProject/祝嘉龙-181180220"]
 	path = X-FinalProject/祝嘉龙-181180220
 	url = https://github.com/Hoyyyywolf/CalabashVsSnake
[submodule "X-FinalProject/宋鉴清-181860080-项仁浩-181860111"]
	path = X-FinalProject/宋鉴清-181860080-项仁浩-181860111
	url = https://github.com/JansonSong/gourd_vs_monster
[submodule "X-FinalProject/张福翔-171840514-孙润来-171860521"]
	path = X-FinalProject/张福翔-171840514-孙润来-171860521
	url = https://github.com/mansicer/hulubaby-vs-monster
[submodule "X-FinalProject/程珂-171860640"]
	path = X-FinalProject/程珂-171860640
	url = https://gitee.com/ChengKer/nju-java-2020-fall
[submodule "X-FinalProject/华顺鹏-171860626"]
	path = X-FinalProject/华顺鹏-171860626
	url = https://github.com/4happiness/JavaFinalProject.git
[submodule "X-FinalProject/钱正轩-171860687"]
	path = X-FinalProject/钱正轩-171860687
	url = https://github.com/i1123581321/HuLuBattle
[submodule "X-FinalProject/宋超群-171860642-李舟俊潇-181860051"]
	path = X-FinalProject/宋超群-171860642-李舟俊潇-181860051
	url = https://github.com/Mr-Nan05/CalabashBrothers
