.root {
 -fx-background-image: url("/image/finish/finishBackground.jpg");
  -fx-background-repeat: no-repeat;
  -fx-background-size: cover;
}
.button {
  -fx-background-color:#FFC125;
  -fx-color: white;
  -fx-padding: 15px 32px;
  -fx-text-align: center;
  -fx-text-decoration: none;
  -fx-display: inline-block;
  -fx-font-size: 16px;
  -fx-background-radius: 30px;
  -fx-border-width:5px ;
  -fx-border-color:#EEAD0E ;
  -fx-border-radius:30px ;
}
