.button{
-fx-background-color: #ADD8E6;
-fx-background-radius:20 20 20 20;
}
.button:hover
{
-fx-background-color: #8DEEEE;
-fx-background-radius:20 20 20 20;
}
.button:pressed{
-fx-background-color: #00EEEE;
-fx-background-radius:20 20 20 20;
}
.button1{
-fx-background-color: #C6E2FF;
-fx-background-radius:20 0 0 20;
}
.button1:hover
{
-fx-background-color: #8DEEEE;
-fx-background-radius:20 0 0 20;
}
.button1:pressed{
-fx-background-color: #00EEEE;
-fx-background-radius:20 0 0 20;
}