.button{
-fx-background-color: #00C5CD;
-fx-background-radius:20 20 20 20;
-fx-border-radius:20 20 20 20;
-fx-border-style:solid;
-fx-border-width:5px;
}
.button:hover
{
-fx-background-color: #8DEEEE;
-fx-background-radius:20 20 20 20;

}
.button:pressed{
-fx-background-color: #00EEEE;
-fx-background-radius:20 20 20 20;
}